{
    "printWidth": 100,
    "singleQuote": true,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "trailingComma": "all",
    "arrowParens": "always",
    "tabWidth": 4,
    "quoteProps": "consistent",
    "overrides": [
        {
            "files": ["**/*.{scss,css}"],
            "options": {
                "order": "concentric-css"
            }
        }
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^react$",
        "^next$",
        "^@stores/(.*)$",
        "^@api/(.*)$",
        "^@lib/(.*)$",
        "^@hooks/(.*)$",
        "^@components/(.*)$",
        "^\\.\\/.+(?<!s?css)$",
        "^@styles/(.*)$",
        "^\\./.+\\.s?css$",
        "^@assets/(.*)$",
        "^[./]"
    ]
}
